body {
  font-family: $font-family;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 400;
}

// СТИЛІ ЗАГОЛОВКУ
.title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--chorniy);
}

.title--orange {
  color: #fd9222;
}