body {
<<<<<<< Updated upstream
  font-family: Montserrat, sans-serif;
=======
  font-family: Montserrat,sans-serif;
>>>>>>> Stashed changes
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}