body {
  font-family: $font-family;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 400;
}

// СТИЛІ ЗАГОЛОВКУ
.title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $chorniy;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
}
.title:not(.components__title) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.title--orange {
  color: #fd9222;
}