$font-family: 'Montserrat', sans-serif;
$second-family: 'Roboto', sans-serif;
$black-color: #111;
$darkblue-color: #1e1823;
$orange-color: #fd9222;
$white-color: #fafafa;
$grey-color: #ffffff19;
$sec-two-color-grey: #d9d9d9;;
