<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <h2 class="footer__title">Chocolate a delicious cure for a bad day</h2>
      <div class="information">
        <address class="address">
          <p class="address__text">Contact us</p>
          <ul class="contacts">
            <li class="contacts__item">
              <a href="tel:+380684439426" class="contacts__link">+380 (68) 443-94-26</a>
            </li>
            <li class="contacts__item">
              <a href="mailto:simplychoc@gmail.com" class="contacts__link">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>
        <ul class="socials">
          <li class="socials__item">
            <svg class="socials__svg">
              <use href="#"></use>
            </svg>
          </li>
          <li class="socials__item">
            <svg class="socials__svg">
              <use href="#"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <ul class="navigation">
      <li class="navigation__item">
        <a href="#" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">How it’s made?</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Our products</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Top sellers</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
