<header class="header">
    <div class="header__container container">
        <a href="#" class="header__logo">
            <span class="header__logo-text">simply chocolate</span>
            <svg class="header__logo-icon" width="21" height="21">
                <use href=""></use>
            </svg>
        </a>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">How it's made?</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Our products</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Top sellers</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Chocolate is loved</a></li>
            </ul>
        </nav>

        <div class="header__social social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <svg class="social__icon" width="22" height="22">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <svg class="social__icon" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <button class="header__burger burger-menu">
            <svg class="burger-menu__icon" width="28" height="28">
                <use href=""></use>
            </svg>
        </button>
    </div>
</header>