<header class="header">
    <div class="container">
        <a href="#" class="header__logo"><span class="header__logo-title">simply</span> chocolate
            <svg class="header__logo-icon">
                <use href="../icons/sprite.svg#icon-logo-chocolate"></use>
            </svg>
        </a>

        <div class="modal-window is-hidden" h-data-modal>
            <button type="button" class="modal-window__close-btn " h-data-modal-close>
                <svg class="modal-window__close-btn-x">
                    <use href="../icons/sprite.svg#icon-x"></use>
                </svg>
            </button>
            <nav class="modal-window__navigation navigation">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#section-one" class="navigation__linkk">Home</a></li>
                    <li class="navigation__item"><a href="# section-four" class="navigation__linkk">How it's made?</a></li>
                    <li class="navigation__item"><a href="#section-five" class="navigation__linkk">Our products</a></li>
                    <li class="navigation__item"><a href="#section-six" class="navigation__linkk">Top sellers</a></li>
                    <li class="navigation__item"><a href="#section-seven" class="navigation__linkk">Chocolate is loved</a></li>
                </ul>
            </nav>
            
            <ul class="modal-window__social social">
                <li class="social__item">
                    <a href="https://www.instagram.com/" class="social__link">
                        <svg class="social__icon">
                            <use href="../icons/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://x.com/" class="social__link">
                        <svg class="social__icon">
                            <use href="../icons/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
            <button type="button" class="burger-menu" h-data-modal-open >
                <svg class="burger-menu__icon">
                    <use href="../icons/sprite.svg#icon-burger-menu"></use>
                </svg>
            </button>
    </div>
    <script type="module" src="./js/header-modal.js"></script>
</header>