<section class="components">
        <div class="container">
        <h2 class="title__ingredients">it all adds up to one exceptional taste sensation</h2>
        <p class="text__ingredients">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        <ul class="ingredients">
            <li class="ingredients__item">
                <h3 class="name__ingredients">milk chocolate</h3>
            </li>
            <li class="ingredients__item">
                <h3 class="name__ingredients">milk</h3>
            </li>
            <li class="ingredients__item">
                <h3 class="name__ingredients">nuts</h3>
            </li>
            <li class="ingredients-item">
                <h3 class="name__ingredients">semi-sweet chocolate</h3>
            </li>
        </ul>
         </div>
    </section>