<section class="products">
    <div class="container">
        <h1 class="title">
            our products
        </h1>
        <!-- Карусель -->
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <!-- 1 -->
                <div class="carousel-item active">
                    <ul class="products__list">
                        <!-- 1 -->
                        <li class="products__item">
                            <!-- <picture>
                                        <source srcset="1x, 2x" media="(min-width: 1200px)">
                                        <source srcset="1x, 2x" media="(min-width: 768px)">
                                        <source srcset="1x, 2x" media="(min-width: 480px)">
                                        <img class="" src="1x" alt="">
                                    </picture> -->
                            <h3 class="products__title">
                                orange
                            </h3>
                            <p class="products__name">
                                Dark chocolate
                            </p>
                            <a href="./" class="products__price">
                                45 UAH
                            </a>
                        </li>
                        <!-- 2 -->
                        <li class="products__item">
                            <!-- <picture>
                                        <source srcset="1x, 2x" media="(min-width: 1200px)">
                                        <source srcset="1x, 2x" media="(min-width: 768px)">
                                        <source srcset="1x, 2x" media="(min-width: 480px)">
                                        <img class="" src="1x" alt="">
                                    </picture> -->
                            <h3 class="products__title">
                                APPLE&CRANBERRY
                            </h3>
                            <p class="products__name">
                                Milk chocolate
                            </p>
                            <a href="./" class="products__price">
                                50 UAH
                            </a>
                        </li>
                        <!-- 3 -->
                        <li class="products__item">
                            <!-- <picture>
                                        <source srcset="1x, 2x" media="(min-width: 1200px)">
                                        <source srcset="1x, 2x" media="(min-width: 768px)">
                                        <source srcset="1x, 2x" media="(min-width: 480px)">
                                        <img class="" src="1x" alt="">
                                    </picture> -->
                            <h3 class="products__title">
                                lime&sea salt
                            </h3>
                            <p class="products__name">
                                Dark chocolate
                            </p>
                            <a href="./" class="products__price">
                                66 UAH
                            </a>
                        </li>
                        <!-- 4 -->
                        <li class="products__item">
                            <!-- <picture>
                                        <source srcset="1x, 2x" media="(min-width: 1200px)">
                                        <source srcset="1x, 2x" media="(min-width: 768px)">
                                        <source srcset="1x, 2x" media="(min-width: 480px)">
                                        <img class="" src="1x" alt="">
                                    </picture> -->
                            <h3 class="products__title">
                                pineapple
                            </h3>
                            <p class="products__name">
                                Dark chocolate
                            </p>
                            <a href="./" class="products__price">
                                54 UAH
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 2 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <ul class="products__list">
                            <!-- 1 -->
                            <li class="products__item">
                                <!-- <picture>
                                            <source srcset="1x, 2x" media="(min-width: 1200px)">
                                            <source srcset="1x, 2x" media="(min-width: 768px)">
                                            <source srcset="1x, 2x" media="(min-width: 480px)">
                                            <img class="" src="1x" alt="">
                                        </picture> -->
                                <h3 class="products__title">
                                    Classic
                                </h3>
                                <p class="products__name">
                                    Milk chocolate
                                </p>
                                <a href="./" class="products__price">
                                    45 UAH
                                </a>
                            </li>
                            <!-- 2 -->
                            <li class="products__item">
                                <!-- <picture>
                                            <source srcset="1x, 2x" media="(min-width: 1200px)">
                                            <source srcset="1x, 2x" media="(min-width: 768px)">
                                            <source srcset="1x, 2x" media="(min-width: 480px)">
                                            <img class="" src="1x" alt="">
                                        </picture> -->
                                <h3 class="products__title">
                                    honey
                                </h3>
                                <p class="products__name">
                                    Milk chocolate
                                </p>
                                <a href="./" class="products__price">
                                    50 UAH
                                </a>
                            </li>
                            <!-- 3 -->
                            <li class="products__item">
                                <!-- <picture>
                                            <source srcset="1x, 2x" media="(min-width: 1200px)">
                                            <source srcset="1x, 2x" media="(min-width: 768px)">
                                            <source srcset="1x, 2x" media="(min-width: 480px)">
                                            <img class="" src="1x" alt="">
                                        </picture> -->
                                <h3 class="products__title">
                                    Roasted fruits
                                </h3>
                                <p class="products__name">
                                    Dark chocolate
                                </p>
                                <a href="./" class="products__price">
                                    66 UAH
                                </a>
                            </li>
                            <!-- 4 -->
                            <li class="products__item">
                                <!-- <picture>
                                            <source srcset="1x, 2x" media="(min-width: 1200px)">
                                            <source srcset="1x, 2x" media="(min-width: 768px)">
                                            <source srcset="1x, 2x" media="(min-width: 480px)">
                                            <img class="" src="1x" alt="">
                                        </picture> -->
                                <h3 class="products__title">
                                    Classic
                                </h3>
                                <p class="products__name">
                                    White chocolate
                                </p>
                                <a href="./" class="products__price">
                                    54 UAH
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
</section>