<section class="sellers">
        <div class="container">
            <h2 class="title">
               <span class="title--orange">TOP</span> SELLERS 
            </h2>
            <ul class="sweets-list">
                <li class="sweets-list__item">
                    <img 
                    srcset="./images/nuts-and-cacao-sec6-1x-desktop-min.png 1x, ./images/nuts-and-cacao-sec6-2x-desktop-min.png 2x"
                     src="./images/nuts-and-cacao-sec6-1x-desktop-min.png" alt="the images of sweets exampls">
                </li>
                <li class="sweets-list__item">
                    <img
                    srcset="./images/choco-sec6-1x-desktop-min.png 1x, ./images/choco-sec6-2x-desktop-min.png 2x"
                     src="./images/choco-sec6-1x-desktop-min.png" alt="the images of sweets exampls2">
                </li>
                <li class="sweets-list__item">
                    <img
                    srcset="./images/choco-and-candy-sec6-1x-desktop-min.png 1x, ./images/choco-and-candy-sec6-2x-desktop-min.png 2x"
                     src="./images/choco-and-candy-sec6-1x-desktop-min.png" alt="the images of sweets exampls3">
                </li>

            </ul>
            <div class="sellers-content">
                <p class="sellers-content__text">
                   Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
                  Cacao has been around for thousands of years and was first discovered by the Native American 
                    tribe called the Mayans. 
                </p>
                <button class="sellers-content__button">
                  Buy now  
                </button>
            </div>
        </div>
    </section>