<section class="howitsmade">
    <div class="container">
<h2 class="title_section-four">How it`s made?</h2>
<img class="img_section-four" src="/src/images/chocolate.png" alt="Як роблять шоколад?">
<h3 class="title_fourth-section">Try our chocolates today and discover the perfect balance of flavor</h3>
<ul class="plan">
    <li class="plan-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
    <li class="plan-item">At the same time, prepare a water bath. Melt the butter on it.</li>
    <li class="plan-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes
    uniform and silky.</li>
    <li class="plan-item">Heat the mixture over low heat, letting it barely boil.</li>
    <li class="plan-item">Heat the mixture over low heat, letting it barely boil.</li>
</ul>
</div>
</section>