<section class="hero">
    <div class="container">
        <h1 class="hero__title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
        <button class="button-buynow "> Buy now</button>
        <button class="button">How it's made</button>
            <div class="scroll-wrap">
                <p class="">scroll down</p>
                    <a href="" class="scroll-link">
                        <svg width="20" height="20" class="">
                            <use href="../icons/sprite.svg#icon-orange-scroll-down"></use>
                        </svg>
                    </a>
            </div>
    
    </div>
    
</section>