<section class="products">
    <div class="container">
        <h2 class="title">
            <span>our</span><span class="title--orange">products</span>
        </h2>
        <!-- Карусель MOBILE-->
        <div id="carouselExampleIndicators" class="carousel slide carousel__mobile">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
            </div>
            <div class="carousel-inner ">
                <!-- 1 -->
                <div class="carousel-item active products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/orange-choco-sec5-1x-desktop-min.jpg 1x, ./images/orange-choco-sec5-2x-desktop-min.jpg 2x"
                            src="./images/orange-choco-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        orange
                    </h3>
                    <p class="products__name">
                        Dark chocolate
                    </p>
                    <a href="./" class="products__price">
                        45 UAH
                    </a>
                </div>
                <!-- 2 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/apple-cranberry-sec5-1x-desktop-min.jpg 1x, ./images/apple-cranberry-sec5-2x-desktop-min.jpg 2x"
                            src="./images/apple-cranberry-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        APPLE&CRANBERRY
                    </h3>
                    <p class="products__name">
                        Milk chocolate
                    </p>
                    <a href="./" class="products__price">
                        50 UAH
                    </a>
                </div>
                <!-- 3 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/lime-sea-sec5-1x-desktop-min.jpg 1x, ./images/lime-sea-sec5-2x-desktop-min.jpg 2x"
                            src="./images/lime-sea-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        lime&sea salt
                    </h3>
                    <p class="products__name">
                        Dark chocolate
                    </p>
                    <a href="./" class="products__price">
                        66 UAH
                    </a>
                </div>
                <!-- 4 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/pineapple-sec5-1x-desktop-min.jpg 1x, ./images/pineapple-sec5-2x-desktop-min.jpg 2x"
                            src="./images/pineapple-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        pineapple
                    </h3>
                    <p class="products__name">
                        Dark chocolate
                    </p>
                    <a href="./" class="products__price">
                        54 UAH
                    </a>
                </div>
                <!-- 5 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/classic-milk-choco-sec5-1x-desktop-min.jpg 1x, ./images/classic-milk-choco-sec5-2x-desktop-min.jpg 2x"
                            src="./images/classic-milk-choco-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        Classic
                    </h3>
                    <p class="products__name">
                        Milk chocolate
                    </p>
                    <a href="./" class="products__price">
                        45 UAH
                    </a>
                </div>
                <!-- 6 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/honey-sec5-1x-desktop-min.jpg 1x, ./images/honey-sec5-2x-desktop-min.jpg 2x"
                            src="./images/honey-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        honey
                    </h3>
                    <p class="products__name">
                        Milk chocolate
                    </p>
                    <a href="./" class="products__price">
                        50 UAH
                    </a>
                </div>
                <!-- 7 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/roasted-fruits-sec5-1x-desktop-min.jpg 1x, ./images/roasted-fruits-sec5-2x-desktop-min.jpg 2x"
                            src="./images/roasted-fruits-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        Roasted fruits
                    </h3>
                    <p class="products__name">
                        Dark chocolate
                    </p>
                    <a href="./" class="products__price">
                        66 UAH
                    </a>
                </div>
                <!-- 8 -->
                <div class="carousel-item products__item">
                    <a href="">
                        <img class="products__img"
                            srcset="./images/classic-white-choco-sec5-1x-desktop-min.jpg 1x, ./images/classic-white-choco-sec5-2x-desktop-min.jpg 2x"
                            src="./images/classic-white-choco-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                    </a>
                    <h3 class="products__title">
                        Classic
                    </h3>
                    <p class="products__name">
                        White chocolate
                    </p>
                    <a href="./" class="products__price">
                        54 UAH
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
    <!-- Карусель TABLET -->
    <!-- поки в розробці -->
    <!-- Карусель DESKTOP-->
    <div id="carouselExampleIndicators" class="carousel slide carousel__desktop">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <!-- 1 -->
            <div class="carousel-item active">
                <ul class="products__list">
                    <!-- 1 -->
                    <li class="products__item">
                        <a href="">
                            <img class="products__img"
                                srcset="./images/orange-choco-sec5-1x-desktop-min.jpg 1x, ./images/orange-choco-sec5-2x-desktop-min.jpg 2x"
                                src="./images/orange-choco-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                        </a>
                        <h3 class="products__title">
                            orange
                        </h3>
                        <p class="products__name">
                            Dark chocolate
                        </p>
                        <a href="./" class="products__price">
                            45 UAH
                        </a>
                    </li>
                    <!-- 2 -->
                    <li class="products__item">
                        <a href="">
                            <img class="products__img"
                                srcset="./images/apple-cranberry-sec5-1x-desktop-min.jpg 1x, ./images/apple-cranberry-sec5-2x-desktop-min.jpg 2x"
                                src="./images/apple-cranberry-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                        </a>
                        <h3 class="products__title">
                            APPLE&CRANBERRY
                        </h3>
                        <p class="products__name">
                            Milk chocolate
                        </p>
                        <a href="./" class="products__price">
                            50 UAH
                        </a>
                    </li>
                    <!-- 3 -->
                    <li class="products__item">
                        <a href="">
                            <img class="products__img"
                                srcset="./images/lime-sea-sec5-1x-desktop-min.jpg 1x, ./images/lime-sea-sec5-2x-desktop-min.jpg 2x"
                                src="./images/lime-sea-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                        </a>
                        <h3 class="products__title">
                            lime&sea salt
                        </h3>
                        <p class="products__name">
                            Dark chocolate
                        </p>
                        <a href="./" class="products__price">
                            66 UAH
                        </a>
                    </li>
                    <!-- 4 -->
                    <li class="products__item">
                        <a href="">
                            <img class="products__img"
                                srcset="./images/pineapple-sec5-1x-desktop-min.jpg 1x, ./images/pineapple-sec5-2x-desktop-min.jpg 2x"
                                src="./images/pineapple-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                        </a>
                        <h3 class="products__title">
                            pineapple
                        </h3>
                        <p class="products__name">
                            Dark chocolate
                        </p>
                        <a href="./" class="products__price">
                            54 UAH
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 2 -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <ul class="products__list">
                        <!-- 5 -->
                        <li class="products__item">
                            <a href="">
                                <img class="products__img"
                                    srcset="./images/classic-milk-choco-sec5-1x-desktop-min.jpg 1x, ./images/classic-milk-choco-sec5-2x-desktop-min.jpg 2x"
                                    src="./images/classic-milk-choco-sec5-1x-desktop-min.jpg"
                                    alt="orange dark chocolate">
                            </a>
                            <h3 class="products__title">
                                Classic
                            </h3>
                            <p class="products__name">
                                Milk chocolate
                            </p>
                            <a href="./" class="products__price">
                                45 UAH
                            </a>
                        </li>
                        <!-- 6 -->
                        <li class="products__item">
                            <a href="">
                                <img class="products__img"
                                    srcset="./images/honey-sec5-1x-desktop-min.jpg 1x, ./images/honey-sec5-2x-desktop-min.jpg 2x"
                                    src="./images/honey-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                            </a>
                            <h3 class="products__title">
                                honey
                            </h3>
                            <p class="products__name">
                                Milk chocolate
                            </p>
                            <a href="./" class="products__price">
                                50 UAH
                            </a>
                        </li>
                        <!-- 7 -->
                        <li class="products__item">
                            <a href="">
                                <img class="products__img"
                                    srcset="./images/roasted-fruits-sec5-1x-desktop-min.jpg 1x, ./images/roasted-fruits-sec5-2x-desktop-min.jpg 2x"
                                    src="./images/roasted-fruits-sec5-1x-desktop-min.jpg" alt="orange dark chocolate">
                            </a>
                            <h3 class="products__title">
                                Roasted fruits
                            </h3>
                            <p class="products__name">
                                Dark chocolate
                            </p>
                            <a href="./" class="products__price">
                                66 UAH
                            </a>
                        </li>
                        <!-- 8 -->
                        <li class="products__item">
                            <a href="">
                                <img class="products__img"
                                    srcset="./images/classic-white-choco-sec5-1x-desktop-min.jpg 1x, ./images/classic-white-choco-sec5-2x-desktop-min.jpg 2x"
                                    src="./images/classic-white-choco-sec5-1x-desktop-min.jpg"
                                    alt="orange dark chocolate">
                            </a>
                            <h3 class="products__title">
                                Classic
                            </h3>
                            <p class="products__name">
                                White chocolate
                            </p>
                            <a href="./" class="products__price">
                                54 UAH
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- ІНДИКАТОР -->
    <div class="carousel__idicator">
        <svg class="carousel__img">
            <use href="../icons/sprite.svg#icon-offer-banner"></use>
        </svg>
    </div>
</section>