<section class="subscribe">
  <div class="container">
    <h2 class="title title--white">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe__text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button data-modal-open class="button-subscribe" type="button">
      Subscribe
    </button>
    <div class="subscribe__backdrop subscribe__is-hidden" data-modal>
      <div class="subscribe__modal">
        <button class="subscribe__btn" data-modal-close>Закрити</button>
        <form class="subscribe__form" action="/submit" method="POST">
          <h2 class="subscribe__modal-title">
            Explore our
            <span class="subscribe__title-span">new chocolate</span> first!
          </h2>
          <div class="subscribe__input-div">
          <input
            class="subscribe__input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button class="modal__subscribe-button" type="submit">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="./js/section-eight-modal.js"></script>
</section>
