<section class="fans">
    <div class="container">
        <h2 class="title">
            <span class="title--orange">chocolate</span> is loved
        </h2>
        <!-- Карусель MOBILE -->
        <div id="carouselExampleIndicators" class="carousel slide fans__mobile">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active carousel__indicators" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    class="carousel__indicators" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    class="carousel__indicators" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    class="carousel__indicators" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    class="carousel__indicators" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    class="carousel__indicators" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <!-- 1 -->
                <div class="carousel-item active fans__item">
                    <img class="fans__img"
                        srcset="./images/vika-sec7-1x-desktop-min.jpg 1x, ./images/vika-sec7-2x-desktop-min.jpg 2x"
                        src="./images/vika-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                    <h3 class="fans__name">
                        Victoria Dobrzhanska
                    </h3>
                    <p class="fans__review">
                        I love this chocolate bar. Perfect combination of light crispy wafer, covered in
                        a thin layer chocolate.
                    </p>
                </div>
                <!-- 2 -->
                <div class="carousel-item fans__item">
                    <img class="fans__img"
                        srcset="./images/nazar-sec7-1x-desktop-min.jpg 1x, ./images/nazar-sec7-2x-desktop-min.jpg 2x"
                        src="./images/nazar-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                    <h3 class="fans__name">
                        Nazar Babenko
                    </h3>
                    <p class="fans__review">
                        This chocolate confection is a delight! A delight! The wafer is light and crisp,
                        the hazelnut cream is smooth, and the
                        chocolate is good.
                    </p>
                </div>
                <!-- 3 -->
                <div class="carousel-item fans__item">
                    <img class="fans__img"
                        srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                        src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                    <h3 class="fans__name">
                        Olena Kampusch
                    </h3>
                    <p class="fans__review">
                        Chocolate is a family favourite treat. Love the delicious smooth chocolate and
                        the creaminess inside. The wafer is soft
                        but crunchy.
                    </p>
                </div>
                <!-- 4 -->
                <div class="carousel-item fans__item">
                    <img class="fans__img"
                        srcset="./images/natalia-sec7-1x-desktop-min.jpg 1x, ./images/natalia-sec7-2x-desktop-min.jpg 2x"
                        src="./images/natalia-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                    <h3 class="fans__name">
                        Natalia Sus
                    </h3>
                    <p class="fans__review">
                        The chocolate assortment was delicious. Both dark and milk chocolate pieces were
                        smooth and just right on the sweetness
                        level.
                    </p>
                </div>
                <!-- 5 -->
                <div class="carousel-item fans__item">
                    <img class="fans__img"
                        srcset="./images/danilo-sec7-1x-desktop-min.jpg 1x, ./images/danilo-sec7-2x-desktop-min.jpg 2x"
                        src="./images/danilo-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                    <h3 class="fans__name">
                        Danilo Nottingham
                    </h3>
                    <p class="fans__review">
                        This is delicious. It so rich and flavorful you don’t need to use as many. I
                        love topping an apple with almond butter
                        and these chips for a snack.
                    </p>
                </div>
                <!-- 6 -->
                <div class="carousel-item fans__item">
                    <img class="fans__img"
                        srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                        src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                    <h3 class="fans__name">
                        Irina Tydnyuk
                    </h3>
                    <p class="fans__review">
                        This is simply the best chocolate around, and I'm just thrilled to support a
                        local company! Best local chocolate - world
                        class :&#41;
                    </p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Карусель Tablet -->
        <div id="carouselExampleIndicators" class="carousel slide fans__tablet">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active carousel__indicators" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    class="carousel__indicators" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    class="carousel__indicators" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <ul class="fans__list">
                        <!-- 1 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/vika-sec7-1x-desktop-min.jpg 1x, ./images/vika-sec7-2x-desktop-min.jpg 2x"
                                src="./images/vika-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                            <h3 class="fans__name">
                                Victoria Dobrzhanska
                            </h3>
                            <p class="fans__review">
                                I love this chocolate bar. Perfect combination of light crispy wafer, covered in
                                a thin layer chocolate.
                            </p>
                        </li>
                        <!-- 2 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/nazar-sec7-1x-desktop-min.jpg 1x, ./images/nazar-sec7-2x-desktop-min.jpg 2x"
                                src="./images/nazar-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                            <h3 class="fans__name">
                                Nazar Babenko
                            </h3>
                            <p class="fans__review">
                                This chocolate confection is a delight! A delight! The wafer is light and crisp,
                                the hazelnut cream is smooth, and the
                                chocolate is good.
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- 2 -->
                <div class="carousel-item">
                    <ul class="fans__list">
                        <!-- 3 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                                src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                            <h3 class="fans__name">
                                Olena Kampusch
                            </h3>
                            <p class="fans__review">
                                Chocolate is a family favourite treat. Love the delicious smooth chocolate and
                                the creaminess inside. The wafer is soft
                                but crunchy.
                            </p>
                        </li>
                        <!-- 4 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/natalia-sec7-1x-desktop-min.jpg 1x, ./images/natalia-sec7-2x-desktop-min.jpg 2x"
                                src="./images/natalia-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                            <h3 class="fans__name">
                                Natalia Sus
                            </h3>
                            <p class="fans__review">
                                The chocolate assortment was delicious. Both dark and milk chocolate pieces were
                                smooth and just right on the sweetness
                                level.
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- 3 -->
                <div class="carousel-item">
                    <ul class="fans__list">
                        <!-- 5 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/danilo-sec7-1x-desktop-min.jpg 1x, ./images/danilo-sec7-2x-desktop-min.jpg 2x"
                                src="./images/danilo-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                            <h3 class="fans__name">
                                Danilo Nottingham
                            </h3>
                            <p class="fans__review">
                                This is delicious. It so rich and flavorful you don’t need to use as many. I
                                love topping an apple with almond butter
                                and these chips for a snack.
                            </p>
                        </li>
                        <!-- 6 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                                src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                            <h3 class="fans__name">
                                Irina Tydnyuk
                            </h3>
                            <p class="fans__review">
                                This is simply the best chocolate around, and I'm just thrilled to support a
                                local company! Best local chocolate - world
                                class :&#41;
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Карусель DESKTOP-->
        <div id="carouselExampleIndicators" class="carousel slide fans__desktop">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active carousel__indicators" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    class="carousel__indicators" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <ul class="fans__list">
                        <!-- 1 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/vika-sec7-1x-desktop-min.jpg 1x, ./images/vika-sec7-2x-desktop-min.jpg 2x"
                                src="./images/vika-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                            <h3 class="fans__name">
                                Victoria Dobrzhanska
                            </h3>
                            <p class="fans__review">
                                I love this chocolate bar. Perfect combination of light crispy wafer, covered in
                                a thin layer chocolate.
                            </p>
                        </li>
                        <!-- 2 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/nazar-sec7-1x-desktop-min.jpg 1x, ./images/nazar-sec7-2x-desktop-min.jpg 2x"
                                src="./images/nazar-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                            <h3 class="fans__name">
                                Nazar Babenko
                            </h3>
                            <p class="fans__review">
                                This chocolate confection is a delight! A delight! The wafer is light and crisp,
                                the hazelnut cream is smooth, and the
                                chocolate is good.
                            </p>
                        </li>
                        <!-- 3 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                                src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                            <h3 class="fans__name">
                                Olena Kampusch
                            </h3>
                            <p class="fans__review">
                                Chocolate is a family favourite treat. Love the delicious smooth chocolate and
                                the creaminess inside. The wafer is soft
                                but crunchy.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="carousel-item">
                    <ul class="fans__list">
                        <!-- 4 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/natalia-sec7-1x-desktop-min.jpg 1x, ./images/natalia-sec7-2x-desktop-min.jpg 2x"
                                src="./images/natalia-sec7-1x-desktop-min.jpg" alt="Victoria Dobrzhanska">
                            <h3 class="fans__name">
                                Natalia Sus
                            </h3>
                            <p class="fans__review">
                                The chocolate assortment was delicious. Both dark and milk chocolate pieces were
                                smooth and just right on the sweetness
                                level.
                            </p>
                        </li>
                        <!-- 5 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/danilo-sec7-1x-desktop-min.jpg 1x, ./images/danilo-sec7-2x-desktop-min.jpg 2x"
                                src="./images/danilo-sec7-1x-desktop-min.jpg" alt="Nazar Babenko">
                            <h3 class="fans__name">
                                Danilo Nottingham
                            </h3>
                            <p class="fans__review">
                                This is delicious. It so rich and flavorful you don’t need to use as many. I
                                love topping an apple with almond butter
                                and these chips for a snack.
                            </p>
                        </li>
                        <!-- 6 -->
                        <li class="fans__item">
                            <img class="fans__img"
                                srcset="./images/olena-sec7-1x-desktop-min.jpg 1x, ./images/olena-sec7-2x-desktop-min.jpg 2x"
                                src="./images/olena-sec7-1x-desktop-min.jpg" alt="Olena Kampusch">
                            <h3 class="fans__name">
                                Irina Tydnyuk
                            </h3>
                            <p class="fans__review">
                                This is simply the best chocolate around, and I'm just thrilled to support a
                                local company! Best local chocolate - world
                                class :&#41;
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Кінець каруселі -->
        <!-- ІНДИКАТОР -->
        <div class="carousel__idicator">
            <svg class="carousel__svg">
                <use href="../icons/sprite.svg#icon-slider-3-points"></use>
            </svg>
        </div>
        <!-- КНОПКА -->
        <button type="button" class="fans__button" data-modal-open>
            Leave a review
        </button>
        <!-- МОДАЛЬНЕ ВІКНО -->
        <div class="backdrop is-hidden" data-modal>
            <div class="review__modal">
                <button class="review__colse-btn" data-modal-close>
                    <svg width="24" height="24" class="close-btn__svg">
                        <use href="../icons/sprite.svg#icon-x"></use>
                    </svg>
                </button>
                <p class="title review__text">
                    leave a review about <span class="title--orange"> our chocolate</span>
                </p>
                <!-- NAME -->
                <form>
                    <label class="review__label" for="username"></label>
                    <input type="text" id="username" class="review__data" name="username" placeholder="Name">
                    <!-- EMAIL -->
                    <label class="review__label" for="email"></label>
                    <input type="email" id="email" class="review__data" name="email" placeholder="Enter your email">
                    <!-- PHONE NUMBER -->
                    <label class="review__label" for="number">+380</label>
                    <input type="number" id="number" class="review__data review__data--number" name="number"
                        placeholder="Phone number">

                    <button class="review__btn" type="submit">Send</button>
                </form>
                <!--  -->
            </div>
        </div>
        <!-- СКРИПТ НА МОДАЛЬНЕ ВІКНО -->
        <script type="module" src="./js/modal.js"></script>
    </div>
</section>