<section class="hero">
    <div class="hero-bgc"></div>
    <div class=" container">
        <h1 class="hero__title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
        <div class="hero-actions">
            <ul class="actions">
                <li class="action__item">
                    <button type="button" class="actions__button actions__button--buynow">Buy now</button>
                </li>
                <li class="action__item">
                    <button type="button" class="actions__button actions__button--howmade">How it's made</button>
                </li>
            </ul>
            <a href="#section-8" class="hero__scroll-link"> scroll down
                <div class="icon-wrapper">
                    <svg  class="hero__scroll-icon">
                        <use href="../icons/sprite.svg#icon-scroll-down"></use>
                    </svg>
                </div>
        </div>
        </a>
    </div>
</section>