@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

<<<<<<< Updated upstream
=======
.container {
  width: 375px;
  padding: 0 20px;
}

>>>>>>> Stashed changes
.components {
  width: 375px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.components__title {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.components__span {
  color: #fd9222;
}

.components__text {
  margin-bottom: 32px;
  margin-top: 24px;
  font-family: Montserrat, sans-serif;
<<<<<<< Updated upstream
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
=======
  line-height: 1.29;
>>>>>>> Stashed changes
  text-align: center;
  color: #111111;
}

.ingredients {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
<<<<<<< Updated upstream
  align-items: center;
=======
>>>>>>> Stashed changes
}

.ingredients__item {
  position: relative;
  width: 335px;
  height: 270px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.ingredients__item:nth-child(1) {
  background-color: #fd9222;
<<<<<<< Updated upstream
  background-image: url(./image/choco-milk-sec2-1x-desktop.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(1) {
    background-image: url(../../images/choco-milk-sec3-2x-desktop-min.png);
=======
  background-image: url(../images/choco-milk-sec3-1x-desktop-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(1) {
    background-image: url(../images/choco-milk-sec3-2x-desktop-min.png);
>>>>>>> Stashed changes
  }
}

.ingredients__item:nth-child(2) {
  background-color: #fff;
  border: 1px solid #fd9222;
<<<<<<< Updated upstream
  background-image: url(../../images/milk-sec3-1x-desktop-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(2) {
    background-image: url(../../images/milk-sec3-2x-desktop-min.png);
=======
  background-image: url(../images/milk-sec3-1x-desktop-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(2) {
    background-image: url(../images/milk-sec3-2x-desktop-min.png);
>>>>>>> Stashed changes
  }
}

.ingredients__item:nth-child(3) {
  background-color: #1e1823;
  background-image: url(../images/nuts-sec3-1x-desktop-min.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(3) {
    background-image: url(../images/nuts-sec3-2x-desktop-min.png);
  }
}

.ingredients__item:nth-child(4) {
  background-color: #fff;
  background-image: url(../images/semi-sw-choco-sec3-1x-desktop-min.png);
  border: 1px solid #fd9222;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item:nth-child(4) {
    background-image: url(../images/semi-sw-choco-sec3-2x-desktop-min.png);
  }
}

.ingredients__name {
  position: absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.29;
<<<<<<< Updated upstream
  letter-spacing: -0.02em;
=======
>>>>>>> Stashed changes
  text-transform: uppercase;
  left: 28px;
  bottom: 28px;
}

.ingredients__name--black {
  color: #111111;
}

.ingredients__name--white {
  color: #fff;
}

.footer {
  width: 375px;
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__title {
  width: 300px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer__span {
  color: #fd9222;
}

.information {
  display: flex;
  -moz-column-gap: 113px;
       column-gap: 113px;
  align-items: center;
}

.address__text {
  margin-bottom: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.contacts::after {
  content: "";
  display: block;
  width: 335px;
  color: rgba(255, 255, 255, 0.0980392157);
  margin-top: 32px;
}

.contacts__link {
  display: block;
  margin-bottom: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.socials {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.socials__svg {
  width: 22px;
  height: 22px;
}

.navigation {
  margin-top: 32px;
  row-gap: 18px;
  display: flex;
  flex-direction: column;
}

.navigation__link {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}/*# sourceMappingURL=index.css.map */