@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.benefits__title {
  display: none;
}

.overlay__button {
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  body {
    font-weight: 600;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1200px) {
  body {
    line-height: 1.17;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--chorniy);
}

.title--orange {
  color: #fd9222;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.benefits {
  width: 375px;
  margin: 0 auto;
  padding: 20px 0;
  color: #fafafa;
  background-color: #1e1823;
}
@media screen and (min-width: 768px) {
  .benefits {
    width: 768px;
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 1200px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    align-items: start;
    flex-direction: row;
    width: 704px;
    margin: 0 auto;
    -moz-column-gap: 60px;
         column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    width: 1100px;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 308px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:not(:last-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 18px;
  }
}

.benefits__icon {
  border-radius: 365px;
}

.benefits__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fafafa;
  margin-top: 22px;
  margin-bottom: 18px;
}

.benefits__text {
  color: rgba(255, 255, 255, 0.7);
}

.benefits__div {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.0980392157);
  display: flex;
  align-items: center;
  justify-content: center;
}

.components {
  padding-top: 128px;
  padding-bottom: 128px;
}

.components__title {
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  display: block;
  width: 283px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .components__title {
    font-size: 24px;
    line-height: 1.17;
    width: 411px;
  }
}
.components__title .title--orange {
  color: #fd9222;
}

.components__text {
  width: 335px;
  margin: 24px auto 32px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.29;
  text-align: center;
  color: #111;
}
@media screen and (min-width: 768px) {
  .components__text {
    width: 486px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .components__text {
    font-size: 14px;
  }
}

.ingredients {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .ingredients {
    flex-direction: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 32px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .ingredients {
    -moz-column-gap: 19px;
         column-gap: 19px;
    flex-wrap: nowrap;
  }
}

.ingredients__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 270px;
  background-size: 224px 171px;
  background-repeat: no-repeat;
  background-position-y: 28px;
  background-position-x: center;
  border-radius: 15px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ingredients__item {
    background-size: 224px 171px;
    background-position-y: 28px;
    background-position-x: center;
  }
}
@media screen and (min-width: 768px) {
  .ingredients__item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .ingredients__item {
    background-size: 206px 160px;
    flex-basis: calc((100% - 57px) / 3);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .ingredients__item {
    background-size: 206px 160px;
  }
}
.ingredients__item:hover .overlay, .ingredients__item:focus .overlay {
  transform: translate(0);
}

.ingredients__item:nth-child(1) {
  background-color: #fd9222;
  background-image: url(../images/choco-milk-sec2-1x-desktop-min.png);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ingredients__item:nth-child(1) {
    order: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .ingredients__item:nth-child(1) {
    background-image: url(../images/choco-milk-sec2-2x-desktop-min.png);
  }
}

.ingredients__item:nth-child(2) {
  background-color: #fff;
  border: 1px solid #fd9222;
  background-image: url(../images/milk-sec3-1x-desktop-min.png);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ingredients__item:nth-child(2) {
    order: 3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .ingredients__item:nth-child(2) {
    background-image: url(../images/milk-sec3-2x-desktop-min.png);
  }
}

.ingredients__item:nth-child(3) {
  background-color: #1e1823;
  background-image: url(../images/nuts-sec3-1x-desktop-min.png);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ingredients__item:nth-child(3) {
    order: 4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .ingredients__item:nth-child(3) {
    background-image: url(../images/nuts-sec3-2x-desktop-min.png);
  }
}

.ingredients__item:nth-child(4) {
  background-color: #fff;
  background-image: url(../images/semi-sw-choco-sec3-1x-desktop-min.png);
  border: 1px solid #fd9222;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ingredients__item:nth-child(4) {
    order: 2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .ingredients__item:nth-child(4) {
    background-image: url(../images/semi-sw-choco-sec3-2x-desktop-min.png);
  }
}

.ingredients__name {
  font-size: 14px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
  left: 28px;
  bottom: 28px;
}

.ingredients__name--black {
  color: #111;
}

.ingredients__name--white {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(-100%);
  padding: 28px;
  transition: transform 400ms;
}

.ingredients__item:hover .overlay,
.ingredients__item:focus .overlay {
  transform: translate(0);
}

.overlay__list {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin: 8px 0 14px;
}

.overlay__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}
@media screen and (min-width: 1200px) {
  .overlay__title {
    font-size: 16px;
  }
}

.overlay__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border-radius: 35px;
  padding: 6px 16px;
  text-align: center;
}

.overlay__button--orange {
  background-color: #fd9222;
  color: #fff;
}

.overlay__button--white {
  background-color: #fff;
  color: #111;
  border: 1px solid #fd9222;
}

.overlay__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.products {
  padding-top: 72px;
  background-color: #fafafa;
  position: relative;
}

.products__list {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.products__item {
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  padding: 32px 52px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.products__img {
  display: block;
  width: 230px;
  height: 201px;
  margin: 0 auto 8px;
}

.products__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-bottom: 2px;
}

.products__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.products__price {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  margin: 0 auto;
  width: 94px;
  margin-bottom: 32px;
}

.carousel__idicator {
  display: flex;
  justify-content: center;
}

.carousel__svg {
  margin-top: 20px;
  height: 13px;
}

.carousel__desktop {
  display: none;
}

.carousel-control-prev {
  position: absolute;
  opacity: 0;
}

.carousel-control-prev:hover {
  position: absolute;
  opacity: 0;
}

.carousel-control-next {
  position: absolute;
  opacity: 0;
}

.carousel-control-next:hover {
  position: absolute;
  opacity: 0;
}

.fans__desktop {
  display: none;
}

.fans {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #fafafa;
}

.fans__item {
  position: relative;
  margin-top: 74px;
  padding: 56px 18px 42px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.fans__img {
  position: absolute;
  inset: 0;
  margin: auto;
  top: -40;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.fans__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  text-align: center;
}

.fans__review {
  width: 299px;
  margin: 24px auto 0;
  line-height: 1.29;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.fans__button {
  display: block;
  width: 165px;
  margin: 32px auto 0;
  padding: 12px 28px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  color: #111;
  font-weight: 600;
  text-align: center;
}

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    -moz-column-gap: 543px;
         column-gap: 543px;
  }
}

.footer__title {
  width: 256px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: 300px;
    font-size: 28px;
    line-height: 1.21;
  }
}
.footer__title .footer__span {
  color: #fd9222;
}

.information {
  display: flex;
  -moz-column-gap: 113px;
       column-gap: 113px;
  align-items: center;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .information {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .information {
    -moz-column-gap: 63px;
         column-gap: 63px;
  }
}

.address__text {
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}

.contacts::after {
  content: "";
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.0980392157);
  margin-top: 32px;
}

.contacts__link {
  display: block;
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 400;
  }
}

.socials {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
@media screen and (min-width: 768px) {
  .socials {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}

.socials__svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .socials__svg {
    width: 24px;
    height: 24px;
  }
}

.navigation {
  margin-top: 32px;
  display: flex;
  row-gap: 18px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-top: 24px;
    flex-direction: row;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.navigation__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
}/*# sourceMappingURL=index.css.map */