.title--orange{
    margin-left: 10px;
    margin-bottom: 32px;
}
.howitsmade__gallery{
    padding-top: 40px;
}
.howitsmade__heading{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--chorniy);
    line-height: 1.33;
}
.howitsmade__list{
    padding-top: 20px;
}
.howitsmade__item{
    margin-bottom: 18px;
    list-style: disc;
}
.howitsmade__text{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    color: var(--chorniy);
}