.fans__desktop {
    display: none;
}

.fans {
    padding-top: 72px;
    background-color: $white-color;
}

.fans__item {
    position: relative;
    margin-top: 98px;
    height: 200px;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.fans__img {
    position: absolute;
    inset: 0;
    margin: auto;
    top: -40;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.fans__name {
    margin-top: 56px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: $black-color;
    text-align: center;
}

.fans__review {
    width: 299px;
    margin: 24px auto 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.fans__button {
    display: block;
    width: 165px;
    margin: 32px auto 0;
    padding: 12px 28px;
    border: 1px solid $orange-color;
    border-radius: 100px;
    color: $black-color;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}