.sellers {
  width: 375px;
  padding-top: 72px;
  margin: 0 auto;
  background-color: #fafafa;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 100px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 128px;
  }
}
.sweets-list{
  display: flex;  
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
 flex-direction: row;
 justify-content:center;
 column-gap: 16px;
 margin-bottom: 32px;

  }
 
  &__item:nth-child(3){

    display: none;
    @media screen and (min-width: 1200px) {
  display: block;

  }
  }
&__item {
  width: 335px;
  height: 464px;
  border-radius: 15px;
  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 16px) / 2);
  }
  @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}

}
.sellers-content{
display: flex;
flex-direction: column;
row-gap: 32px;
@media screen and (min-width: 768px) {
flex-direction: row;
justify-content:center;
column-gap: 236px;

}
@media screen and (min-width: 1200px){
    column-gap: 567px;
}
}

.sellers-content__text{
    margin-top: 15px;
line-height: 1.29;
color: $black-color;
    text-align: center;
    @media screen and (min-width: 768px) {
        width: 306px;
        text-align: left;
        margin-bottom: 0;
        font-weight: 400;
    }
    @media screen and (min-width: 1200px){
        width: 407px;
    }
}
.sellers-content__button{
  width: 120px;
  height: 50px;
  border-radius: 100px;
  background-color:#FD9222 ;
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
border: none;
color: white;
@media screen and (min-width: 768px){
    width: 162px;
    padding: 14px 40px;

}
}
.sellers__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 182, 182);
  opacity: 1;
}

.sellers__backdrop.sellers__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  width: 311px;
  height: 1007px;
  padding: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
}
.button-close-svg {
  fill: black;
  stroke: black;
}
.sellers__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-submit {
  border-radius: 100px;
  width: 109px;
  height: 41px;
  background-color: orange;
  padding: 14px 40px;
}
.textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 18px 60px 18px;
  width: 263px;
  height: 91px;
  resize: none;
}
.input {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 18px;
  width: 263px;
  height: 45px;
  color: rgba(64, 64, 64, 0.3);
}
.input-wrapper {
  margin-top: 18px;
}