.benefits {
  background-color: $darkblue-color;
  color: $white-color;
  padding: 20px 0px;
  width: 375px;
  height: 792px;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 620px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 344px;
  }
}
.benefits__icon {
  /*   border: 1px solid $grey-color; */
  border-radius: 365px;
  /*   width: 32px;
  height: 32px;
  padding: 15px; */
}
.benefits__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 38px;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: normal;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.benefits__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: $white-color;
  margin-top: 22px;
  margin-bottom: 18px;
}
.benefits__text {
  color: $sec-two-color-grey;
}
.benefits__item {
  padding-left: 16px;
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
.benefits__item:nth-child(1) {
  @media screen and (min-width: 768px) {
    flex-basis: 48%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    padding-left: 34px;
  }
}
.benefits__item:nth-child(2) {
  @media screen and (min-width: 768px) {
    flex-basis: 48%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    padding-left: 54px;
  }
}
.benefits__item:nth-child(3) {
  @media screen and (min-width: 768px) {
    flex-basis: 308px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.benefits__stick {
  display: none;
  @media screen and (min-width: 1200px) {
    border: 1px solid $sec-two-color-grey;
    width: 124px;
    height: 0px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 124px;
  }
}
.benefits__div {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid $sec-two-color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
