.components {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #fafafa;
}
.components__title {
  justify-content: center;
  display: block;
  width: 283px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 411px;
  }
.title--orange{
  color: $orange-color;
}
}
.components__text {
  width: 300px;
  margin: 24px auto 32px;
  line-height: 1.29;
  text-align: center;
  color: $black-color;

  @media screen and (min-width: 768px) {
    width: 424px;
    font-weight: 400;
    margin: 28px auto 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.ingredients {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 32px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 19px;
    flex-wrap: nowrap;
  }
}
.ingredients__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 270px;
  background-size: 224px 171px;
  background-repeat: no-repeat;
  background-position-y: 28px;
  background-position-x: center;
  border-radius: 15px;
  border: 1px solid $orange-color;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: 224px 171px;
    background-position-y: 28px;
    background-position-x: center;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1200px) {
    background-size: 206px 160px;
    flex-basis: calc((100% - 57px) / 3);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-size: 206px 160px;
    }
  }
&:hover .overlay,
&:focus .overlay {
  transform: translate(0);
}
}
.ingredients__item:nth-child(1) {
  background-color: $orange-color;
  background-image: url(../images/choco-milk-sec2-1x-desktop-min.png);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    order: 1;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/choco-milk-sec2-2x-desktop-min.png);
    }
  }
}
.ingredients__item:nth-child(2) {
  background-color: #fff;
  border: 1px solid $orange-color;
  background-image: url(../images/milk-sec3-1x-desktop-min.png);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    order: 3;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/milk-sec3-2x-desktop-min.png);
    }
  }
}
.ingredients__item:nth-child(3) {
  background-color: $darkblue-color;
  background-image: url(../images/nuts-sec3-1x-desktop-min.png);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    order: 4;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/nuts-sec3-2x-desktop-min.png);
    }
  }
}
.ingredients__item:nth-child(4) {
  background-color: #fff;
  background-image: url(../images/semi-sw-choco-sec3-1x-desktop-min.png);
  /* border: 1px solid var(--orange-color); */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    order: 2;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/semi-sw-choco-sec3-2x-desktop-min.png);
    }
  }
}
.ingredients__name {
  position: absolute;
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
  left: 28px;
  bottom: 28px;
font-size: 14px;
letter-spacing: -0.02em;
}
.ingredients__name--black {
  color: $black-color;
}
.ingredients__name--white {
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(-100%);
  padding: 28px;

  transition: transform 400ms;
}
.ingredients__item:hover .overlay,
.ingredients__item:focus .overlay {
  transform: translate(0);
}
.overlay__list {
  display: flex;
  column-gap: 6px;
  margin: 8px 0 14px;
}
.overlay__title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: $black-color;
  @media screen and (min-width:1200px){
    font-size: 16px;
  }
}
.overlay__button {
  font-size: 10px;
  color: #fff;
  border-radius: 35px;
  padding: 6px 16px;
  text-align: center;
  border: none;
}
.overlay__button--orange {
  background-color: $orange-color;
  color: #fff;
}
.overlay__button--white {
  background-color: #fff;
  color: #111;
  border: 1px solid $orange-color;
}
.overlay__text {
  font-size: 13px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: $black-color;
}