.benefits {
  background-color: $darkblue-color;
  color: $white-color;
  padding: 20px;
  display: flex;
  align-items: center;
}
.benefits__title {
  display: none;
}
.benefits__icon {
  border: 1px solid $grey-color;
  border-radius: 365px;
  width: 32px;
  height: 32px;
  padding: 15px;
}
.benefits__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: $white-color;
  margin-top: 22px;
  margin-bottom: 18px;
}
.benefits__text {
  color: $grey-color;
  margin-bottom: 20px;
}
