.hero {
  background-image: url(../images/choco-bg-sec1-desktop-1x-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 335px;
  border-radius: 30px;
  margin: 0 auto 72px;
  position: relative;
  padding-top: 395px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding-top: 671px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    width: 1136px;
    padding-top: 381px;
    margin-bottom: 63px;
  }
}

.hero-bgc {
  @media screen and (min-width: 1200px) {
    position: absolute;
  background-color: $sec-two-color-grey;
  width: 1136px;
  height: 119px;
  left: 0;
  top: 208px
  }
}

.hero__title {
  font-weight: 500;
  letter-spacing: -0.03em;
  color: $white-color;
  font-size: 20px;
  line-height: 1.2;
  width: 299px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.21;
    width: 484px;
  }

  @media screen and (min-width: 1200px) {
    width: 484px;
  }
}
.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 135px;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 585px;
  }
}

.actions {
  display: flex;
  column-gap: 14px;
  margin: 0; 
}

.actions__button {
  font-weight: 600;
  color: $white-color;
  border-radius: 100px;
  height: 41px;
  border: 1px solid;

  @media screen and (min-width: 768px) {
    height: 45px;
  }

  @media screen and (min-width: 1200px) {
    height: 45px;
  }
}

.actions__button--buynow {
  background: $orange-color;
  border-color: $orange-color;
  width: 120px;

  @media screen and (min-width: 768px) {
    width: 144px;
  }
}

.actions__button--howmade {
  background: none;
  border-color: $white-color;
  width: 159px;

  @media screen and (min-width: 768px) {
    width: 183px;
  }
}

.hero__scroll-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: $white-color;
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.icon-wrapper {
  width: 28px;
  height: 28px;
  background-color: $white-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}

.hero__scroll-icon {
  width: 22px;
  height: 22px;
}
