.subscribe {
  background-image: url(../images/choco-bg-sec8-1x-desktop-min.png);
  background-repeat: no-repeat;
  @media screen and (min-width: 375px) {
    padding: 62px 20px;
  }
  @media screen and (min-width: 768px) {
    padding: 72px 150px;
  }
}

.subscribe__title {
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  @media screen and (min-width: 375px) {
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.2;
    width: 291px;
    height: 48px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin: 0 auto;
    line-height: 1.17;
    width: 378px;
    height: 56px;
  }
}

.subscribe__text {
  // font-family: $font-family;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  margin: 0 auto;

  @media screen and (min-width: 375px) {
    width: 326px;
    height: 108px;
  }

  @media screen and (min-width: 768px) {
    width: 467px;
    height: 72px;
  }
}

.button-subscribe {
  // font-family: $font-family;
  font-weight: 600;
  color: #fff;
  border-radius: 45px 45px;
  background-color: orange;
  border: none;

  @media screen and (min-width: 375px) {
    width: 128px;
    height: 41px;
    margin: 0 auto;
    margin-top: 24px;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 172px;
    height: 50px;
    margin: 0 auto;
    margin-top: 24px;
    font-size: 18px;
  }
}
