.footer {
  background-color: $darkblue-color;
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 543px;
  }
}
.footer__title {
  width: 256px;
  font-family: $font-family;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    width: 300px;
    font-size: 28px;
    line-height: 1.21;
  }
.footer__span{
  color: $orange-color;
}
}
.information {
  display: flex;
  column-gap: 113px;
  align-items: center;
  align-items: start;
  @media screen and (min-width: 768px) {
    column-gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 63px;
  }
}
.address__text {
  margin-bottom: 14px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
.contacts::after {
  content: "";
  display: block;
  width: 100%;
  color: $grey-color;
  margin-top: 32px;
}
.contacts__link {
  display: block;
  margin-bottom: 4px;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  @media screen and (min-width:768px) {
    font-weight: 400;
  }
}
.socials {
  display: flex;
  column-gap: 14px;
  @media screen and (min-width: 768px) {
    column-gap: 18px;
  }
}
.socials__svg {
  width: 22px;
  height: 22px;
  fill: #fff;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
.navigation {
  margin-top: 32px;
  display: flex;
  row-gap: 18px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    flex-direction: row;
    column-gap: 24px;
  }
}
.navigation__link {
  font-family: $font-family;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
}